* {
    margin: 0;
    padding: 0; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #1a1c1f;
    font-family: 'Open Sans', arial, Helvetica, sans-serif;
    text-align: center;
}

h1{	
    font-family: 'Cinzel Decorative', serif;
    font-size: 2em;
    font-weight: 400;
    color: #169ed9;
    margin: 0 0 0 0;
    padding: 25px;
}
	
		
h2{	 
    font-size: 1.1em;
    font-weight: 400;
    color: #cc5f29;
    margin: 0 0 0 0;
    padding: 8px;
    letter-spacing: 1.5px;
}

h3{	
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #667080; 
    margin: 0 0 0 0;
    padding:10px;
}

p.logo {
    font-family: 'Cinzel Decorative', serif;
    font-size: 2.4em;
    font-weight: 400;    
    color: #148dcc;
    letter-spacing: 3px;
    padding: 5px;
   
}

p.logosub {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.2em;
    font-weight: 400;    
    color: #9da0a6;
    letter-spacing: 2px;
    }

p.email {
    font-size: 1.1em;
    font-weight: 400;    
    color: #667280;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px 0 10px 0;
}

p.comminfo {
    font-size: 0.95em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #7e848c;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
}

p.cdescription {
    font-size: 0.93em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #8a9099;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
}

p.footer {
    font-size: .8em;
    font-weight: 400;    
    color: #666666;
    letter-spacing: 2px;
}

p.price {
    
    font-size: 1.5em;
    font-weight: 400;    
    color: #cc5f29;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px 0 10px 0;
}

/* I HAVE NO CLUE HOVER THUMBNAIL CSS */

.overlay {
    background-color: #148dcc !important;
}

.overlay:hover img { 
opacity: 0.7 !important;
transition: opacity 50ms ease-in !important;
transition: opacity 30ms ease-out !important;
 }

/* HR TAG STYLING */
hr.styletwo { border: 0; border-bottom: 1px dashed #404447; background: #404447; }

/* GRADIENT BLOCK BETWEEN HEADER AND FOOTER*/
.spacer {
    width: 100%;
    height: 8px;
    background-color: black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d0d0d+0,1f2326+50,0d0d0d+100 */
    background: rgb(13,13,13); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(13,13,13,1) 0%, rgba(31,35,38,1) 50%, rgba(13,13,13,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(13,13,13,1) 0%,rgba(31,35,38,1) 50%,rgba(13,13,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(13,13,13,1) 0%,rgba(31,35,38,1) 50%,rgba(13,13,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#0d0d0d',GradientType=1 ); /* IE6-9 */  
}

/* GENERAL NAVIGATION CSS */

a {
text-decoration: none;
font-size: 1em;
font-weight: 400;    
color: #99b1cc;
letter-spacing: 1px;
}

/* TOPNAV CSS */

nav ul{
    list-style: none;
}

nav li {
    padding: 10px 0 10px 0;
    background-color: #000;
    margin-bottom: 1px;
}	

nav a { 
}

nav a:hover {
    color: #148dcc;
}

.container{
    width: 99%;
    margin:0 auto;
}

.header {
    min-height: 300px;
     background-image: url(../images/bg1.png);
        background-repeat: no-repeat;
        background-position:top;
}

.navwrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; 
    flex-basis: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.logocontainer {
    flex:1;
    margin: auto;
    padding: 5px;
}

.logobox{
    max-width: 360px;
    min-height: 105px;
    border: 1px dotted #404447; 
   margin-top: 30px;
}

.emailbox {
    margin-top: 15px;
    max-width: 380px;
}

.navcontainer {
    flex:1.8;
}

/* CONTENT SECTION */

.contentwrapper {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

.contentleftwrapper{
    width:100%;
}

.contentrightwrapper{
    width:100%;
}

.commcontainer{
    width:100%;
    margin-bottom: 40px;
    background-color: #212326;
    padding: 10px;
    border: 1px dotted #08384d;
}

.commdrawingcontainer{
    width: 100%;
    background-color: #242629;
    border: 1px solid #2d3440;
}

.commdescription{
    flex:1;
}

.orderbox {
    flex-basis: 30%;
    border: 1px dotted #404447;
    margin-bottom: 60px;
}

.aboutcontainer{
    width:100%;
}

.formcontainer{
    width: 100%;
}

    /* FOOTER SECTION */
.footerwrapper {
    display: flex;
    width:  100%;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px dotted #404447;
    flex-direction: column;
}

.emailfooter {
    width: 100%;
    padding: 20px;
}

.bottomnav{
}
.icons{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.icon {
    width: 44px;
    height: 44px;
    float: left;
    margin-left: 8px;
}


div.icon:first-child {
     margin-left: 0px;
}

.copyright {
    width: 100%;
    max-width:1200px;
    height: 50px;
    margin: auto; 
    margin-top: 5px;
}

    /* Medium screens */
@media all and (min-width: 600px) {
   
}
    /* Large screens */
@media all and (min-width: 800px) {
    
    p.footer{
        text-align: right;
    }
    
    .header{
        background-image: url(../images/bg1.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .navwrapper{
        flex-flow: row;
        height: 300px;
    }
    
    nav li{
        display: inline;
        padding-left: 35px;
        background-color: transparent;
    }
    
    nav li:first-child {
        padding-left: 0;
    }
    
    .navcontainer{
        flex:2;
        margin: auto;
    }
    
    .logobox{
        max-width: 380px;
        padding: 5px;
    }

    .contentwrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    justify-content: space-between;
}
    
    .contentleftwrapper{
    width:60%;
        margin-top: 60px;
    }
    
    .contentrightwrapper{
    width:30%;
        margin-top: 60px;
    }
    
    .commcontainer{
    display: flex;
    width:100%;
    margin-bottom: 50px;
    padding: 20px;    
    }
    
    .commdrawingcontainer{
    flex:1;    
    max-width: 335px;
    }
    
    .commdescription{
        padding: 0 20px 0 20px;
    }
    
    .footerwrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }
    
    .emailfooter{
        flex:100%;
        padding: 30px;
    }
    .bottomnav{
        flex:1.5;
        margin: auto;
    }
    
    .bottomnav li {
        padding-left: 35px;
        float: left;
    }	
    
    .bottomnav a{
        font-size: 0.9em;   
        color: #5c5f66;
    }
    .icons{
        flex:1;    
        justify-content:flex-end;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    div.icon{
        float:right;
        margin-left: 15px;
    }
}
